.inputWrapper {
  --borderRadius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .input {
    width: 100%;
    padding: 8px;
    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: none;
      border-radius: var(--borderRadius) 0px var(--borderRadius)
        var(--borderRadius);
    }
  }
  .inputName {
    margin: 0;
    padding: 4px 8px;
    border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
    font-size: 10px;
    color: white;
  }
}
