.containerWrapper {
  --borderRadius: 6px;
  display: flex;
  width: 600px;
  position: relative;

  .occupiedPopover {
    height: 1.5rem;
    z-index: 1000;
    position: absolute;
    margin: 0;
    right: 0;
    top: -1.5rem;

    padding: 4px 8px;
    border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
    font-size: 10px;
    color: white;
  }

  .container {
    min-width: 600px;
    border: solid 2px gray;
    border-radius: var(--borderRadius);
    padding: 2rem;

    &:hover {
      border: solid 2px #4378ff;
      input {
        border: dashed 1px #4378ff;
      }
    }
    input {
      // Removes styling from default input
      &:focus,
      &:focus-visible,
      &:focus-within {
        border: none;
      }
    }

    textarea {
      resize: vertical;
    }

    .contentContainer {
      border: none;
      width: 100%;
    }
  }
}

.bubbleStyles {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin: 2px;
  color: white;
  font-weight: bold;
  font-size: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}
